@import '../assets/scss/variables';

.stock {
  width: 80%;

  &-status {
    &__icon {
      &--up {
        color: $stock-main-color;
      }
    
      &--down {
        color: $stock-red-color;
      }
    }
  }

  &-column__current {
    width: 20%;
  }

  &-wrapper {
    height: 100%;
    width: 100%;
  }

  &-content {
    width: 100%;
    height: 100%;

    &-header {
      &__title {
        margin: 0;
        font-size: 48px;
        font-weight: bold;
      }
    }
  }
}
